.layout {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.navArea {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

.pageTitle {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.kegListArea {
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  height: 100vh;
  overflow: auto;
}