/* Welcome Component */

body {
  margin: 0;
}

.Welcome {
  text-align: center;
  background-image: url("../assets/beer-background.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Welcome h1 {
  color: black;
}

.Welcome-logo {
  animation: App-logo-pulse infinite 2s linear;
  height: 40vmin;
  pointer-events: none;
}

.Welcome-header {
  background-image: linear-gradient(to right, rgba(255,0,0,0),white, white, rgba(255,0,0,0)); 
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.link {
  font-size: 40px;
  position: relative;
  font-family: 'Lobster', cursive;
}
.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.link:link {
  color: black;
  text-decoration: none;
}

.link:visited {
  color: black;
  text-decoration: none;
}



@keyframes App-logo-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

/* Employee Component */

.layout {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 100vh;
  background-color: pink;
  margin: 0;
}

.navArea {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

.pageTitle {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.pageTitle h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  letter-spacing: .5em;
}

.kegListArea {
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 25px;
  margin: 20px;
}

/* Employee Nav Component */

.stack {
  height: 95vh;
  display: grid;
  grid-column: auto;
  grid-row: auto;
  border: 1px solid black;
  background-color: white;
  border-radius: 25px;
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.center {
  display: flex;
  align-self: center;
  justify-content: center;
}

/* NewKeg Component */

.formArea {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  font-size: 30px;
}

.formArea input {
  height: 40px;
  font-size: 20px;
}

