.Welcome {
  text-align: center;
  background-image: url("../assets/beer-background.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Welcome-logo {
  animation: App-logo-pulse infinite 2s linear;
  height: 40vmin;
  pointer-events: none;
}

.Welcome-header {
  background-image: linear-gradient(to right, rgba(255,0,0,0),white, white, rgba(255,0,0,0)); 
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
